<!doctype html>
<html lang="en">

{% load static %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Welcome to the Manual Trackhub Converter</title>
  <meta name="description" content="View UCSC track hubs in IGB">
  <meta name="author" content="Loraine Lab">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/trackhub-converter.css' %}">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    //   Enable all tooltips
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
  </script>
</head>

<body>

  <div id="main-container" class="container main-content bar">
    <h1>Manual Track Hub Converter</h1>
    <p id="description">This is a tool for manually converting a UCSC trackhub into a Quickload data source that can be used in the Integrated Genome Browser.</p>
    <div class="conversion">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="title col-auto">
                    <h2>Convert track hub to Quickload</h2> 
                </div>
                <div class="col px-0">
                    <i class="fa fa-question-circle info clickable" aria-hidden="true" data-toggle="tooltip" data-trigger="click" data-placement="right" data-html="true"
            title='Enter the web address for a UCSC track hub <i>hub.txt</i> file. Use the example below to try it out! To learn more about the track hub specification, see the <a href="https://genome.ucsc.edu/goldenpath/help/hgTrackHubHelp.html" target="_blank" rel="noopener noreferrer">UCSC documentation</a>.'></i>
                </div>
            </div>
        </div>
        <form class="needs-validation converter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="input">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">URL</span>
                                </div>
                                <input type="url" class="form-control" aria-label="trackhub url" aria-describedby="basic-addon1" required>
                                <div class="invalid-feedback">
                                    Please provide a valid track hub URL. See the example below for more details.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div id="process" class="text-center">
                            <button id="submit" type="button" class="btn btn-primary">Convert</button>
                            <img class="d-none activity-indicator" src="{% static 'images/activity_indicator.gif' %}" alt="Processing request...">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="container-fluid example">
            <div class="row align-items-center">
                <div class="col-auto example-url">
                    <p>Example: <span class="url">https://hgdownload.soe.ucsc.edu/hubs/plants/hub.txt</span></p>
                </div>
                <div class="col px-0">
                    <i id="example-fill" class="fa fa-level-up clickable" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="result">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-auto title">
                    <h2>Converted Trackhub URL</h2> 
                </div>
                <div class="col px-0">
                    <i class="fa fa-question-circle info clickable" aria-hidden="true" data-toggle="tooltip" data-trigger="click" data-placement="right" data-html="true"
        title="In IGB, click <i>Settings > Data Sources > Add</i>, and paste in this URL. For more information on this process, see the <a href='https://wiki.transvar.org/display/igbman/Data+Sources+Tab' target='_blank' rel='noopener noreferrer'>IGB User's Guide</a>."></i>
                </div>
            </div>
        </div>
        <div id="result" class="container">
            <div class="row align-items-center">
                <div class="col result-url col-auto">
                    <p class="url">Use the input field above to generate a Quickload URL.</p>
                </div>
                <div class="col copy-icon px-0">
                    <i id="copy" class="fa fa-clone clickable result-url-copy d-none" aria-hidden="true" data-toggle="tooltip" data-trigger="manual" data-placement="right" data-offset="0, 5px" title="Copied!"></i>
                </div>
            </div>
            <p class="description"></p>
        </div>
    </div>

  </div>

  <script type="module" src="{% static 'js/manualConverter.js' %}"></script>

</body>

</html>
